
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
      <img id="logo" src="./assets/img/AP-logo1.png" alt="logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav m-4">
        <li class="nav-item m-auto">
          <a routerLink="/" class="nav-link active">Inicio</a>
        </li>
        <li class="nav-item m-auto">
          <a routerLink="/experiencia" class="nav-link">Experiencia</a>
        </li>
        <li class="nav-item m-auto">
          <a routerLink="/estudios" class="nav-link">Estudios</a>
        </li>
        <li class="nav-item m-auto">
          <a routerLink="/habilidades" class="nav-link">Habilidades</a>
        </li>
        <li class="nav-item m-auto">
          <a routerLink="/proyectos" class="nav-link">Proyectos</a>
        </li>
      </ul>
      <a class="login" href="#">Iniciar Sesion</a>
  </div>
  </div>
</nav>
