<section id="experiencia">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>Experiencia
        </h1>
      </div>
    </div>
    <div class="row">
      <ul>
        <li *ngFor="let experiencia of experienciaLista">
          <div class="col text-center">
            <img [src]="experiencia.logo" alt="" class="img-habil">
            <h4>{{experiencia.empresa}}</h4>
            <h6>{{experiencia.trabajo}}</h6>
            <b>{{experiencia.fecha}}</b>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>