<header>
  <app-encabezado></app-encabezado>
</header>

<main>

  <router-outlet></router-outlet>

</main>
<footer>
  <nav class="nav-footer">
    <ul>
      <div id="tema" onclick="cambiarModo()">
        <span class="sol"><i class="fa-solid fa-sun"></i></span>
        <span class="luna"><i class="fa-solid fa-moon"></i></span>
      </div>
      <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
      <li><a href="#"><i class="fa-solid fa-mobile-screen"></i></a></li>
    </ul>
  </nav>
</footer>