* {
    margin: 0;
    padding: 0;
    transition: background 0.3s linear;
}

body {
    margin-top: 60px;
    background-color: #313131;
    color: antiquewhite;
}    

.fa-solid.fa-pen{
    color: #2ebbeb !important;
    font-size: 20px;
    display: none;
}    

.fa-solid.fa-trash-can{
    color: #2ebbeb !important;
    font-size: 20px;
    display: none;
}    

.fa-solid.fa-circle-check{
    color: #2ebbeb !important;
    font-size: 20px;
    display: none;
}    

.fa-solid.fa-circle-plus{
    color: #2ebbeb !important;
    font-size: 20px;
    display: none;
}    

hr{
    color: #2ebbeb;
}    

h1{
    margin-bottom: 10px;
}        

nav{
    background-color: #202020;
}

.nav-item a{
    color: antiquewhite;
    text-decoration: none;
    padding: 0 10px;
}

.nav-item a:hover{
    color: #2ebbeb;
}

.banner-edit{
    position: absolute;
    left: calc(100% - 70px);
    top: 15px;
}            

.banner-edit-2{
    position: absolute;
    left: calc(100% - 40px);
    top: 15px;
}            

.banner-edit-perfil{
    position: absolute;
    left: calc(100% - 30px);
    top: 40%;
}        

.banner-edit-perfil-2{
    position: absolute;
    left: calc(100% - 30px);
    top: 55%;
}        

.parrafo-edit{
    position: absolute;
    left: calc(100% - 25px);
}        

.parrafo-edit-2{
    position: absolute;
    left: calc(100% - 55px);
}        

.parrafo-edit-3{
    position: absolute;
    left: calc(100% - 85px);
}        

.banner-caja-edit{
    position: relative;
}        

.modo-claro {
    background-color: #9c8b78;
    color: #000;
}

.modo-claro a{
    color: #000;
}

.modo-claro a:hover{
    color: #fdb316;
}

.modo-claro hr{
    color: yellow;
}

.modo-claro nav{
    background-color: #9c8b78dd;
}

.modo-claro section{
    background-color: #a5a165;

}

.img-banner{
    width: 100%;
    min-height: 190px;
}        

.img-habil {
    width: 100px;
}        

.img-logo {
    width: 150px;
}        

.img-perfil {
    width: 200px;
}    

.img-proy{
    width: 100%;
    border-style: solid;
    border-color: #2ebbeb;
    border-radius: 3%;
}    

.con-acerca {
    position: relative;
    top: -100px;
    width: 90%;
}    

.con-exp {
    margin-top: 75px;
    display: none;
}    

.con-sec {
    margin-top: 30px;
    margin-bottom: 30px;
}

ul{
    list-style: none;
}

nav{
    box-shadow: 0 2px 25px white;
}

footer{
    position: relative;
    bottom: 100%;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 25px white;
    background-color: #202020;
}

#habilidades ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}